* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Karla", sans-serif;
  font-size: 62.5%; /* to make 1rem equals to 10px */
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 6.5rem;
  padding: 2rem;
  /* color: white; */
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}

.header--div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header--logo {
  height: 3rem;
  width: 3rem;
}

.header--title {
  font-size: 2rem;
  /* margin-right: auto; */
}

.header--project {
  font-size: 1.2rem;
  font-weight: 500;
} 

/* .header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  padding: 20px;
}




*/